/build/
/compiler/build/
/dist/
/results/
/.venv/
.venv/
*.orig
__pycache__/
*.egg-info/
*.py[cod]
*.o
*.so
*.hsaco
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.rocprofv3/
.DS_Store
*.swp
*.swo
.env
.env.*
